.App {
  text-align: center;
}

body {
  color: #1E1E24;
}

a {
  color: #CE2D4F;
  text-decoration: none;
}

.aboutme-container {

}

.profile-pic {
  border-radius: 50%;
  background-color: #CE2D4F;
  border: 1vh solid #CE2D4F;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

#myMenu {
  display: flex;
  justify-content: space-around;
}

.resume-container {
  height: 50%;
}

